:root {
  --main-color: #eae7dc;
  --secondary-color: #d8c3a5;
  --tertiary-color: #8e8d8a;
  --tertiary-color-dark: #5c5b59;
  --pinkish-color: #e98074;
  --redish-color: #e85a4f;
  --redish-color-contrast: #bc433b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zain", sans-serif;
}

/* ************************Content************************ */
body {
  background-color: var(--main-color);
}

h1,
h2,
h3 {
  color: var(--redish-color-contrast);
  font-family: "Barrio";
  margin-bottom: 2rem;
}

h2 {
  margin-top: 5rem;
}

ul,
ol {
  margin-left: 2rem;
}

p,
li {
  font-family: "Zain", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-style: normal;
  color: var(--tertiary-color-dark);
}

figcaption {
  color: var(--redish-color-contrast);
  font-size: 1.5rem;
  font-weight: 600;
}

.page-content {
  margin: 0 2rem;
}

#introduction {
  max-width: 1200px;
  margin: auto;
}

.recipe-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 4rem;
}

.recipe-section a {
  color: var(--redish-color-contrast);
}

.recipe-intro {
  margin-bottom: 2rem;
}

.heading {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.recipe-ingredients {
  max-width: 700px;
  min-width: 200px;
}

.recipe-directions {
  max-width: 700px;
  min-width: 250px;
}

.recipe-image img{
  max-width: 300px;
}

/* ************************zig-zag************************ */
.image-text-zig-zag {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 2rem auto;
  gap: 3rem;
}

.image-text-zig-zag p {
  margin: 0;
  margin-bottom: 1.2rem;
  max-width: 600px;
  min-width: 50px;
}

.zig-zag-img {
  margin: 1rem 50px 1rem 50px;
  max-width: 100%;
  height: auto;
  display: block;
  align-self: center;
  padding: .8rem;
}

.image-text-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  padding: .8rem;
  margin-bottom: .8rem;
  border-radius: .5rem;
  padding: 2.5rem;
}

/* ************************newsletter CTA************************ */
.newsletter-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.newsletter-cta p{
  max-width: 400px;
}

.newsletter-text {
  margin: 0 auto;
}


/* ************************form************************ */

form {
  background-color: #d8c3a5;
  color: #333;
  max-width: 400px;
  width: 100%;
  margin: 1rem auto;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  margin-bottom: 2rem;
}

fieldset legend {
  margin-bottom: .5rem;
  font-size: 1.2rem;
}

label,
legend {
  font-weight: bold;
  font-size: 1rem;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #939393;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1.2rem;
}

textarea {
    min-height: 80px;
}

.topics-of-interest {
  border: none;
  display: grid;
  grid-template-columns:  1.25rem 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
}

input[type="checkbox"] {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0;
}

input[type="submit"] {
  background-color: var(--redish-color-contrast);
  color: #fff;
  border: darkgray solid 1px;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.required-text {
  color: rgb(184, 0, 0);
  font-weight: normal;
}

.optional-text {
  color: darkblue;
  font-weight: normal;
}

.hidden {
  display: none;
}

#newsletter-sign-up-thank-you {
  margin: 3.5rem;
}

/* ************************responsive nav************************ */
nav {
  min-height: 4rem;
  background-color: var(--redish-color-contrast);
  padding: 3rem;
}

nav img {
  max-width: 75px;
  position: absolute;
  top: 10px;
  left: 30px;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	top: 1.5rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
  color: var(--main-color);
  font-size: 2.5rem;
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	background-color: var(--redish-color-contrast);
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem 1.5rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: var(--redish-color);
	color: var(--tertiary-color-dark);
	font-weight: 700;
  border-radius: 1rem;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before {
	content: "🍕";  /* just a wayfinding symbol for the user */
}

/* ************************Hero********************** */
.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  width: 100%;
}

.hero h1 {
  position: absolute;
  top: 40px;
  text-align: center;
  width: 100%;
  color: #fff;
    text-shadow:
    2px 2px 0 black,
    -2px 2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black;
  font-size: 2rem;
}

/* ************************footer************************ */
footer {
  background-color: var(--redish-color-contrast);
  color: var(--main-color);
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  padding-left: 1.2rem;
  color: var(--main-color);
}

#lastModified {
    color: var(--main-color);
}