:root {
    --main-color: #eae7dc;
    --secondary-color: #d8c3a5;
    --tertiary-color: #8e8d8a;
    --tertiary-color-dark: #5c5b59;
    --pinkish-color: #e98074;
    --redish-color: #e85a4f;
    --redish-color-contrast: #bc433b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Zain", sans-serif;
}

/* ************************Content************************ */
body {
  background-color: var(--main-color);
}

h1,
h2,
h3 {
  color: var(--redish-color-contrast);
  font-family: "Barrio";
  margin-bottom: 2rem;
}

h2 {
  margin-top: 1rem;
}

p,
li {
  font-family: "Zain", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  font-style: normal;
  color: var(--tertiary-color-dark);
}

figcaption {
  color: var(--redish-color-contrast);
  font-size: 1.5rem;
  font-weight: 600;
}

/* .page-content {
  margin: 0 2rem;
} */

/* ************************zig-zag************************ */
.image-text-zig-zag {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
  margin: 2rem auto;
}

.image-text-zig-zag p {
  margin: 0;
  max-width: 600px;
  min-width: 50px;
}

.zig-zag-img {
  margin: 1rem 50px 1rem 50px;
  max-width: 350px;
  align-self: center;
  /* min-width: 50px; */
}

.image-text-pair {
  display: flex;
  flex-direction: column;
}



/* ************************responsive nav************************ */
nav {
	/* max-width: 1500px; */
    min-height: 4rem;
    background-color: var(--redish-color-contrast);
    padding: 3rem;
}

nav img {
  max-width: 75px;
  position: absolute;
  top: 10px;
  left: 30px;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
  color: var(--main-color);
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	list-style: none;
	background-color: var(--redish-color-contrast);
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem 1.5rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before {
	content: "🍕";  /* just a wayfinding symbol for the user */
}

/* ************************Hero********************** */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 40px;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 2rem;
}

/* ************************footer************************ */
footer {
    background: var(--redish-color-contrast);
    color: var(--main-color);
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

footer p {
    padding-left: 1.2rem;
    color: var(--main-color);
  }

#lastModified {
    color: var(--main-color);
}