@import url('places.css');

@media (min-width: 700px){

    main {
        position: relative;
    }

    h1 {
        font-size: 4rem;
    }

    .card {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 8px;
        width: 300px;
        overflow: hidden;
        border: none;
    }

    .card-header {
        background-color: var(--heading-color);
        color: var(--heading-text-color);
        padding: 10px;
        font-size: 24px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .svg-icon {
        display: none;
    }

    .svg-icon::after {
        content: "🌞";
    }

    #data {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    
    #weather-card {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }

    #weather-heading::after {
        content: "🌞";
        font-size: 4rem;
        display: block;
    }
}