* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main {
    max-width: 1300px;
	margin: 0 auto;
}

header {
    background-color: rgb(75, 75, 75);
    display: grid;
    align-items: center; /* Align items vertically in the center */
    grid-template-columns: 1fr auto; /* Define columns for layout */
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: auto;
}

h1 {
    text-align: center;
    margin: 2rem;
}

header p {
    font-size: 2rem;
    color: #fff;
    margin: 0;
}

img {
    max-width: 300px;
}

figure {
    text-align: center;
    padding-bottom: 1.2rem;
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	list-style: none;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
    font-size: 1.2rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

.open a {
	display: block;
}

.open header {
    height: auto;
}

.active {
	color: yellow;
}

.photogrid {
    display: grid;
    grid-template-columns: 1fr;
}

.photogrid figure {
    align-content: center;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    color: #fff;
    font-size: 2rem;
}

#menu.open::before {
	content: "❌";
}